@inherits LayoutComponentBase


@inject Blazored.LocalStorage.ILocalStorageService LocalStorage;
@inject AuthenticationStateProvider AuthStateProvider;
@inject NavigationManager NavMan;


<section class="add-ons outer">
    <TopBar />
    <NotificationBar />
</section>
<div class="page lafitness-theme-style">
    <!-- Determine UI based on Authorization -->
    <AuthorizeView>
        <!-- Authorized UI View -->
        <Authorized>
            <!-- Only DIsplay Sidebar When Authorized -->
            <div class="sidebar">
                <NavMenu />
            </div>
        </Authorized>
        <!-- End Authorized View -->
    </AuthorizeView>

    <div class="main">
        <!-- Determine UI based on Authorization -->
        <AuthorizeView>
            <!-- Authorized UI View -->
            <Authorized>
                <!-- Navigation Bar Will Display -->
                <Container Css="ensure-sticky top-row lafitness px-4 text-white" Horizontal="true">
                    <!-- Left Side -->
                    <Group Horizontal="true">

                        <SearchBar Icon="oi-magnifying-glass" />
                    </Group>
                    <!-- Right Side -->
                    <Group Horizontal="true">
                        <Dropdown Icon="oi-chat" FooterLink="user/messages">
                             <p class="text-dark">user: @context.User.Identity.Name</p>
                            <a href="#" type="button" class="list-group-item list-group-item-action disabled"
                                tabindex="-1" aria-disabled="true">
                                Beta Mode
                            </a>
                        </Dropdown>

                        <!-- Notification -->
                        <Dropdown Icon="oi-bell" FooterLink="user/notifications">
                             <p class="text-dark">user: @context.User.Identity.Name</p>
                            <a href="#" type="button" class="list-group-item list-group-item-action disabled" tabindex="-1" aria-disabled="true">
                                Beta Mode
                            </a>
                        </Dropdown>

                        <!-- Profile -->
                        <Dropdown Icon="oi-person">
                            <p class="text-dark">user: @context.User.Identity.Name</p>
                            <a href="#" type="button" class="list-group-item list-group-item-action disabled"
                                tabindex="-1" aria-disabled="true">
                                Profile
                            </a>
                            <a href="#" type="button" class="list-group-item list-group-item-action disabled"
                                tabindex="-1" aria-disabled="true">
                                Help Center & Support
                            </a>

                            <a href="#" type="button" class="list-group-item list-group-item-action disabled"
                                tabindex="-1" aria-disabled="true">
                                Settings
                            </a>
                            <a @onclick="Logout" type="button" class="list-group-item list-group-item-action text-dark">
                                Logout
                            </a>
                        </Dropdown>
                    </Group>
                    <!-- End Navigation Bar -->
                </Container>
                <!-- End Authurized View -->
            </Authorized>
            <!-- Not Authorized UI View -->
            <NotAuthorized>
                <!-- Navigation Bar Will Display -->
                <Container Css="ensure-sticky top-row lafitness px-4 text-white" Horizontal="true">
                    <!-- Left Side -->
                    <Group Horizontal="true">

                        <SearchBar Icon="oi-magnifying-glass" />
                    </Group>
                    <!-- Right Side -->
                    <Group Horizontal="true">
                        <Dropdown Icon="oi-person">
                            <a href="page/login" type="button" class="list-group-item list-group-item-action">Login</a>
                            <a href="page/login" type="button"
                                class="list-group-item list-group-item-action">Register</a>
                        </Dropdown>
                    </Group>
                    <!-- End Navigation Bar -->
                </Container>

                <!-- End Not Authurized View -->
            </NotAuthorized>
        </AuthorizeView>


        <div class="content px-4">
            @Body
        </div>
    </div>
</div>

@code {

    private async void Logout()
    {
        await LocalStorage.RemoveItemAsync("isAuthenticated");
        await AuthStateProvider.GetAuthenticationStateAsync();
        NavMan.NavigateTo("home");
    }
}