<section class="p-3 bg-dark center text-white">
    <div class="d-flex justify-content-between">
        <span></span>
        <span>
            Black Lives Matter!
        </span>
        <span>
            <span class="oi oi-x"></span>
        </span>
    </div>
</section>