@page "/"
<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="#">Home</a></li>
    <li class="breadcrumb-item active" aria-current="page">Library</li>
  </ol>
</nav>

<GridRow>
  <GridCol Mobile="col-sm-12" Tablets="col-md-6" Desktops="col-lg-4" DesktopsPlus="col-xl-3">
    <div class="card">
      <img src="img/females-exercise.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
          content.
        </p>

      </div>
    </div>
  </GridCol>
  <GridCol Mobile="col-sm-12" Tablets="col-md-6" Desktops="col-lg-4" DesktopsPlus="col-xl-3">
    <div class="card">
      <img src="img/females-exercise.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
          content.
        </p>

      </div>
    </div>
  </GridCol>
  <GridCol Mobile="col-sm-12" Tablets="col-md-6" Desktops="col-lg-4" DesktopsPlus="col-xl-3">
    <div class="card">
      <img src="img/females-exercise.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
          content.
        </p>

      </div>
    </div>
  </GridCol>
  <GridCol Mobile="col-sm-12" Tablets="col-md-6" Desktops="col-lg-4" DesktopsPlus="col-xl-3">
    <div class="card">
      <img src="img/females-exercise.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
          content.
        </p>

      </div>
    </div>
  </GridCol>
  <GridCol Mobile="col-sm-12" Tablets="col-md-6" Desktops="col-lg-4" DesktopsPlus="col-xl-3">
    <div class="card">
      <img src="img/females-exercise.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
          content.
        </p>

      </div>
    </div>
  </GridCol>
</GridRow>
@* <HeroCarousel /> *@
<h1>Hello, world!</h1>

Welcome to your new app..
<SurveyPrompt Title="How is our gym working for you?" />
